.background {
    background-color: #13191A;
}

.navbar {
    background-color: #948392;
    font-family: garamond, serif;
    font-weight: bold;
    font-size: 23px;
}

.navbar .nav-link,
.navbar-brand {
    color: white;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.top_h1 {
    color: white;
    font-family: 'lucida handwriting', cursive;
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
}

.h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}